<!DOCTYPE html>

<html>
    <head>
        <base href="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="content-language" content="en,de">
        <meta name="application-name" content="BK">
        <meta name="author" content="Anastassios Martakos">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="stylesheets/stylesheet.css" rel="stylesheet">
        <script src="javascript/source/jquery.min.js"></script>
        <script src="javascript/scripts/variables/Constants.js"></script>
        <script src="javascript/scripts/variables/VariablesDefinition.js"></script>
        <script src="javascript/scripts/prototypes/ActionHandler.js"></script>
        <script src="javascript/scripts/prototypes/AJAXData.js"></script>
        <script src="javascript/scripts/prototypes/ProgrammHandler.js"></script>
        <script src="javascript/scripts/prototypes/WebSockets.js"></script>
        <script src="javascript/scripts/prototypes/Intervals.js"></script>
        <script src="javascript/scripts/functions/DOMChanges.js"></script>
        <script src="javascript/scripts/executation/InitializeFunctions.js"></script>
        <script src="javascript/scripts/executation/Main.js"></script>
    </head>
    <body>
        <header>
            <h1 class="display_inline">Buecherkasten Library</h1>
            <p id="connection_type_ajax" class="display_inline connection_type display_none">running on AJAX (slow mode) : your connection may be slower than normal</p>
            <p id="connection_type_websockets" class="display_inline connection_type display_none">running on WebSockets (fast mode) : you should experience the best speed performance</p>
        </header>

        <main>
            <div class="display_inline">
                <div>
                    <div id="bookbox0" class="display_inline bookbox"><p class="bookbox_text">BookBox 1</p><input type="text"></div>
                    <div id="bookbox1" class="display_inline bookbox"><p class="bookbox_text">BookBox 2</p><input type="text"></div>
                    <div id="bookbox2" class="display_inline bookbox"><p class="bookbox_text">BookBox 3</p><input type="text"></div>
                    <div id="bookbox3" class="display_inline bookbox"><p class="bookbox_text">BookBox 4</p><input type="text"></div>
                </div>

                <div>
                    <div id="bookbox4" class="display_inline bookbox"><p class="bookbox_text">BookBox 5</p><input type="text"></div>
                    <div id="bookbox5" class="display_inline bookbox"><p class="bookbox_text">BookBox 6</p><input type="text"></div>
                    <div id="bookbox6" class="display_inline bookbox"><p class="bookbox_text">BookBox 7</p><input type="text"></div>
                    <div id="bookbox7" class="display_inline bookbox"><p class="bookbox_text">BookBox 8</p><input type="text"></div>
                </div>

                <div>
                    <div id="bookbox8" class="display_inline bookbox"><p class="bookbox_text">BookBox 9</p><input type="text"></div>
                    <div id="bookbox9" class="display_inline bookbox"><p class="bookbox_text">BookBox 10</p><input type="text"></div>
                    <div id="bookbox10" class="display_inline bookbox"><p class="bookbox_text">BookBox 11</p><input type="text"></div>
                </div>
            </div>
            <div id="desc_legend_container" class="display_inline">
                <div><div class="desc_legend unchanged display_inline"></div><p class="display_inline">Unchanged Content</p></div>
                <div><div class="desc_legend changed display_inline"></div><p class="display_inline">You Changed Content</p></div>
                <div><div class="desc_legend input_error display_inline"></div><p class="display_inline">Error with your Input</p></div>
            </div>
            <div>
                <div id="save_button" class="display_inline vert_middle button_standard"><p>Save</p></div>
                <div id="refresh_button" class="display_inline vert_middle button_standard"><p>Refresh</p></div>
                <div id="loading" class="display_inline vert_middle display_none"><img class="display_inline vert_middle loading_image" src="images/loading.gif"><p class="display_inline vert_middle loading_text">Loading ..</p></div>
                <div id="msg_user_client" class="msg vert_middle display_none"></div>
                <div id="msg_errors" class="msg vert_middle display_none"></div>
            </div>
        </main>

        <footer>
        <p>Created By<br><b>Anastassios Martakos</b> <a target="_blank" href="https://nic.phys.ethz.ch/">ISG</a> <a target="_blank" href="https://www.phys.ethz.ch/">D-PHYS</a> <a target="_blank"  href="https://www.ethz.ch/">ETH Z&uuml;rich</a> </p>
        </footer>
    </body>
</html>
