
/*
Project Name:     BuecherkastenBibliothek BK
Author:           Anastassios Martakos
Language:         English / CSS
Created For / At: ETH Zuerich Department Physics
*/

body {
    color: black;
    font-family: Verdana Arial, sans-serif
}

header {
    margin-bottom: 1em;
    border-bottom: solid black 2px;
}

main {
    margin-right: auto;
    margin-left: auto;
}

footer {
    font-size: 0.6em;
}

div#desc_legend_container {
    vertical-align: top;
    margin-left: 2em;
}

div#container {
    min-width: 1154px;
    max-width: 2048px;
    width: 60%;
    margin: auto;
}

div.display_inline,p.display_inline,img.display_inline,h1.display_inline {
    display: inline-block;
}

div.vert_middle,p.vert_middle,img.vert_middle {
    vertical-align: middle;
}

div.button_standard_base {
    line-height: 0em;
    margin: 1em 0.4em 0.4em 0em;
    padding: 0.2em;
    width: 8em;
    text-align: center;
}

div.button_standard {
    background-color: rgb(199, 199, 199);
}

div.button_standard:hover {
    background-color: rgb(138, 138, 138);
    cursor: pointer;
}

div.button_standard:active {
    background-color: rgb(68, 68, 68);
    cursor: pointer;
}

div.button_standard_inactive {
    background-color: rgb(232, 232, 232);
}

div.bookbox {
    margin: 8px;
    padding: 14px;
    width: 19%;
}

div.display_none,p.display_none {
    display: none;
}

div.msg {
    margin-top: 1em;
}

div.empty_bookbox {
    background-color: rgb(203, 208, 223);
}

div.unchanged {
    background-color: rgb(196, 212, 255);
}

div.changed {
    border: solid rgb(255, 238, 212) 6px;
    padding: 8px;
}

div.desc_legend {
    width: 10px;
    height: 10px;
    margin-right: 1em;
    padding: 6px;
    vertical-align: middle;
}

div.double_data {
    background-color: rgb(198, 168, 255);
}

img.loading_image {
    width: 3em;
}

p.loading_text {
    margin-left: 0.4em;
}

p.bookbox_text {
    line-height: 0em;
}

p.connection_type {
    font-size: 0.6em;
}

p.msg_user {
    margin: 0;
    line-height: 2em;
}

p.ah_message {
    background-color: rgb(178, 208, 255);
}

p.ah_succ_save_data {
    background-color: green;
}

p.msg_errors {
    margin: 0;
    line-height: 2em;
}

p.ah_error {
    color: red;
    background-color: black;
}

span.mark_orange {
    color: rgb(255, 238, 212);
}

span.msg_common {
    font-weight: bold;
}

span.remove_msg {
    margin: 0;
    margin-right: 1em;
    padding: 0 0.4em 0 0.4em;
    float: right;
    font-weight: bold;
}

div#msg_user_client > p.msg_user > span.remove_msg:hover {
    background-color: rgb(22, 74, 0);
    cursor: pointer;
}

div#msg_user_client > p.msg_user > span.remove_msg:active {
    background-color: rgb(4, 58, 0);
    cursor: pointer;
}

div#msg_errors > p.msg_errors > span.remove_msg:hover {
    background-color: rgb(98, 0, 0);
    cursor: pointer;
}

div#msg_errors > p.msg_errors > span.remove_msg:active {
    background-color: rgb(148, 0, 0);
    cursor: pointer;
}

span.edit_bookbox {
    float: right;
    font-weight: bold;
}

span.edit_bookbox_common {
    margin-right: 2px;
    margin-left: 2px;
    padding: 2px;
    background-color: rgb(194, 194, 194);
}

span.edit_bookbox_common:hover {
    background-color: rgb(138, 138, 138);
    cursor: pointer;
}

span.edit_bookbox_common:active {
    background-color: rgb(68, 68, 68);
    cursor: pointer;
}
