[Unit]
Description=BKScanner.pl -- Scanner for BK
After=dev-tty1.device systemd-user-sessions.service

[Service]
User=bk
Group=bk
Type=simple
PIDFile=/var/run/BKScanner.pid
ExecStartPre=/bin/rm -rf /var/run/BKScanner.pid
ExecStart=<BK_PATH>/BKScanner.pl
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
Restart=always

[Install]
WantedBy=multi-user.target
